<div class="jumbotron">
  <h1><%= @store.store %></h1>
</div>


<h2>Current shoe brands:</h2>
<table>
  <th>Shoe Brand</th>
  <th>Price</th>
  <th>Remove</th>
  <% @store_brands.each do |brand| %>
    <tr>
      <td><%= brand.brand %></a></td>
      <td><%= "$" + ("%.2f" % brand.price) %></td>
      <td><form action="/delete_brand" method=post>
        <input name="_method" type="hidden" value="delete">
        <input type="hidden" name="brand_delete" value="<%= brand.id %>">
        <button type="submit" class="brand_delete_button">&#10005;</button>
      </form></td>
    </tr>
  <% end %>
</table><br><br>

<h2>Add an existing shoe brand to this store:</h2>
<form action="/store/<%= @store.id %>" method="post">
  <label for="brand_select">Name of brand</label>
  <select name="brand_select">
    <% @brands.each do |brand| %>
    <option value="<%= brand.id %>"><%= brand.brand %></option>
  <% end %>
  </select>
  <button type="submit" class="btn btn-dark btn-sm">Add shoe brand</button>
</form><br>

<h2>Add a new shoe brand to this store:</h2>
<form action="/store/<%= @store.id %>/brand" method="post">
<label for="brand">Name of brand</label>
<input type="text" name="brand" id="brand" autocomplete="off">
<label for="price">Price</label>
<input type="text" name="price" id="price" autocomplete="off" required>
<button type="submit" class="btn btn-dark btn-sm">Add new shoe brand</button>
</form><br>

<a href="/">Return to homepage</a>
